*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .text-white{
    color: #fff !important;
 }
 .text-black{
    color: #000;
 }
 .btn{
    text-decoration: none;
    background-color:#FFF;
    color: #000;
    padding: 14px 16px;
    margin-top: 15px;
    display: inline-block;
    border: none;

}
 
 
 html{
    scroll-behavior: smooth; /*scroll là hành động cuộn
                              behavior là hành vi khi cuộn
                              */
    font-family: Arial, Helvetica, sans-serif;
}
/*commo*/

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.row::after{
    content:"";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}
.clear{
    clear: both;
}
.text-center{
    text-align: center;
}

#wrapper{
    
}
#header{
   height: 46px;
   background-color: black;
   position: fixed; /*  thẻ div bám dính lên header*/
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   
}
#nav{
    display: inline-block;
}
#nav li  {
    
    position: relative;/* bám vào chữ dưới mũi tên*/
}
#nav > li{
    display: inline-block;
    
}

#nav, .subnav{
    list-style-type: none; /*bỏ dấu tròn của ul*/
}
#nav .subnav{
    display: none; /*ẩn chữ*/
    min-width: 160px; /* tăng bỏ padding dài ra*/
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* bóng của ul*/
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover,#nav > li:hover > a{
    background-color: #ccc;
    color:#000
}
#nav li a{
    
    text-decoration: none;/* bỏ gạch chân*/
    line-height: 46px;
    padding: 0 24px;
    display: block;
   
    
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;/* chữ in hoa*/
}
#nav .nav-arrow-down{
    font-size: 14px;
}



        
#header .mobile-menu-btn:hover{
    background-color: #ccc;

}
#header.mobile-menu-btn:hover .menu-icon{
    color:#000;
}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}
#header .search-btn {
    float: right;
    padding: 13px 20px;
    cursor: pointer;
     /* hình bàn tay trỏ chuột*/
     background-color: #757575;

}

#header .search-incon {
    color:#fff;
    font-size: 40px;
    line-height: 46px;
    
    
}


/* phần 2 */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*kéo ảnh nhỏ lớn không bị bể*/
    background: url('/assest/img/chicago.jpg') top center /cover no-repeat; không lặp lại ảnh
   
}
#slider .text-content {
   position: absolute;
   bottom: 47px;
   color: #fff;
   width: 100%;
   /*left: 50%;
   transform: translateX(-50%);  /* lui về lại ở hàng ngang*/
   text-align: center; /* chữ đầu dòng căn giữa*/

}
#slider .text-heading {
    font-weight: 500; /* độ dày của chữ */
    font-size: 24px;

}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

/* Phần 3 */

#content .content-section{
   width: 800px;
   max-width: 100%;
   padding: 64px 0;
   margin-left: auto;
   margin-right: auto;
   /* ipad*/
   padding-left: 16px;
   padding-right: 16px;

}



#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 10000; /* độ dày của chữ */
    letter-spacing: 4px;  /* khoảng cách giữa các chữ */

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; /* chữ ngiêng*/
    opacity: 0.6; /*độ mờ của chữ*/
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify; /* canh chữ đều không bị ngắn dài dòng*/
    line-height: 1.4;
}
/*#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}*/
#content .members-list{
    margin-top: 48px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#content .member-name{
    font-size: 15px;
    




    
}
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    list-style-type: none;
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd; /*gạch đường dài */
}


.tickets-list .Sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
     
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;/* căn giữa từ trái qua phải*/
    line-height: 24px;/* căn giữa từ trên xuống dưới*/
    margin-top: -3px;/* Nó đi theo với float*/

    
}



.playces-list{
    /* kéo hình ảnh ra bằng ppadding*/
    
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 32px;
    padding-bottom: 48px;
}
.playces-item{
    float: left;
     width: 33.33333%; 
    padding-bottom: 48px ;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}

.playces-img{
     width: 100%;
     display: block;
     
}
.playces-img:hover{
    opacity: 0.6; /* đồ mờ khi để chuột vào ảnh*/
    cursor: pointer;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
    background-color: ;
    color: ;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    text-decoration: none;
    background-color:#000;
    color: #fff;
    padding: 14px 16px;
    margin-top: 15px;
    display: inline-block;
    

}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}


/* phần 5*/
.modal{
    position: fixed;
    right: 0; 
    left: 0;
    bottom: 0;                 /* phần này là lớp bao phủ toàn màn hình*/
    top: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none; /*căn giữa chiều cao ngang và muốn bật lên mà ở giữa phải chọn flex */
    align-items: center;/*căn giữa chiều cao ngang */
    justify-content: center;/*căn giữa chiều cao ngang */
    
}
.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px; 
    
    position: relative 
    max-width:  calc(100% - 32px);/* khi kéo màn hình dô trong vẫn có thể cách được khoảng trống*/
}
.modal-header{
   background:#009688;
   height: 130px;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: #fff;
   font-size: 30px;
   letter-spacing: 4px;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 12px;
    

}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;

}
#buy-tickets{
    background: #009688;
    width: 100%;
    padding: 16px;
    color: #fff;
    border: none; /*bỏ viền đen của border*/
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.9; 

}
#buy-tickets:hover{
    background-color: #757575;
    color: #000
}
.modal-footer {
    float: right;
    padding: 16px;
   
}
.modal-footer a{
     color: #2196f3;
}
.modal .open{
    display: flex;
}



/* Contact from*/
.contract-content{
    margin-top: 48px;
    margin-left: 200px;
}
.col-third{
    width: 33.33333%;
}
.col-half{
    width: 40%;
}
.col-full{
    width: 80%;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.contact-info{
    font-size: 18px; 
    line-height: 1.5;
    
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}

.contact-section{
    background-color: #fff;
}
.contact-dsesff{
    padding-top: 64px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;/*bấm vào button sẽ mất viền màu*/
}
.btn{
    text-align: center;
    background-color: #000;
    color: #fff;
    /*float: right;*/
    width: 33%;
    margin-left: 100px;
}
.btn:hover{
    background-color: #f44336;
    color: black;
    cursor: pointer;
}


/*Map section*/
.map-section img{
    margin-top: 96px;
    width: 100%;
}
#footer{
    padding: 64px 16px ;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;
   
    
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    line-height: 1.5px;
   
    
}
#footer  .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer  .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}
#footer  .copyright a{
    color: rgba(0, 0, 0, 0.6);
}






